
<h1>Welcome</h1>

<style>
    body{
        background-image:url(/Image/a.jpg);
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size:cover;
    }

</style>


